{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educator Portal</title>
    <link rel="stylesheet" href="{% static 'CKBApp/css/EducatorLogStyle.css' %}">
</head>
<body>
    <form name="loginForm" method="post">
        <div class="formCo">
            {% csrf_token %}
            <h2>CodeKataBattle</h2>
            <label id='teach'>Hello Educator! Ready to inspire?</label>
            <label for="{{ form.email.id_for_label }}">Insert your mail:</label>
            {{ form.email }}
            <label for="{{ form.password.id_for_label }}">Insert your password:</label>
            {{ form.password }}
            <input type="hidden" name="type" value="log"/>
            <input type="submit" value="Sign in"/>
            <div>
                <p>Don't have an account? <a href="{% url 'registration-page' %}"> Sign up</a></p>
                <p>Are you a student? <a href="{% url 'login-page' %}"> Sign in as a student</a></p>
            </div>
        </div>
    </form>
</body>
</html>
